<!-- montamos el login form haciendo uso de componentes de angular material -->
<mat-card>
    <!-- Cabecera de la tarjeta -->
    <mat-card-header>
        <mat-card-title>
            Login
        </mat-card-title>
        <mat-card-subtitle>
            Accede a tu cuenta
        </mat-card-subtitle>
    </mat-card-header>

    <!-- contenido de la tarjeta -->
    <mat-card-content>
        <form [formGroup]="form" (ngSubmit)="submitLogin()">
            <mat-form-field>
                <input matInput formControlName="email"
                type="email"
                required
                placeholder="Email">
                <mat-error *ngIf="email?.errors?.required && email?.touched">
                        El campo Email es obligatorio
                </mat-error>
                <mat-error *ngIf="email?.errors?.email && email?.touched">
                    El formato de email no es correcto
            </mat-error>
            </mat-form-field>

            <mat-form-field>
                <input matInput formControlName="password"
                type="password"
                required
                placeholder="Password">
                <mat-error *ngIf="password?.errors?.required && password?.touched">
                        El campo password es obligatorio
                </mat-error>
            </mat-form-field>
            <button [disabled]="form.invalid" mat-raised-button color="primary" type="submit">
                Login
            </button>
        </form>
    </mat-card-content>
</mat-card>